body{
    font-family: 'poppins';
}

header .contenedor {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

header ul {

    display: flex;
}

header ul li {
    margin-right: 20px;
}

header p {
    font-weight: bold;
    font-size: 20px;
}



.contenedor-form {
    width: 400px;
    background-color: rgb(250, 246, 241);
    padding: 50px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
}

.contenedor-form p {
    font-size: 15px;
    margin-bottom: 20px;
    color: black;
    font-family: serif;
}

.contenedor-form h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: black;

}

.input {
    display: flex;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 10px;
    font-size: 20px;
}


.pie-pagina {
    width: 100%;
    background-color: #280400;
    
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 10px 0;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 150px;
    padding:auto;
}

.pie-pagina .grupo-1 .box h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #fff;
    margin-bottom: 15px;
    font-size: 15px;
}
.pie-pagina .grupo-2 {
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: white;
    font-size: 15px;
}
