/* ************************************************************************************************
*********************** HEADER ************************************************************* **/

body{
    font-family: 'poppins';
}

header .contenedor {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

header ul {

    display: flex;
}

header ul li {
    margin-right: 20px;
}

header p {
    font-weight: bold;
    font-size: 20px;
}


/* *****************************************************************************************************
*************** MAIN INICIO ****************************************** */

.encabezado {
    background: url(winery-61-scaled.jpg);
    background-size: cover;
    padding: 155px 0 ;
}

h1 {
    font-size: 65px;
    font-family: 'lora';
    color: #080808;
}

.encabezado p {
    width: 55%;
    color: rgb(15, 15, 15)
}

.historia {
    background-color: rgb(250, 246, 241);
}

h2 {
    font-size: 50px;
    
}
.columnas {
    display: flex;
    
}

.columnas p {
    width: 90%;
}

.contacto {
    display: flex;
    justify-content: space-around;
    background: url(winery-37.png);
    background-size: cover;
    background-color: rgb(250, 246, 241);
    padding: 80px 0;
}

.contacto .izquierda  {
    width: 40%;
}

.contacto .izquierda p {
    font-size: 14px;
    color: #666;
}


.contacto .derecha {
    background: #280400;
    color : #fff;
    padding: 80px 30px ;
}

.datos {
    font-size: 13px;
}

.derecha a {
    color: #fff;
    border: lpx solid rgba(232, 226, 215, 0.2);
    text-decoration: none;
    padding:  15px 30px;
}



/* ********************************************************************************************
***************** MAIN CATALOGO *****************************************************************/

.tarjetas {
    display: flex;
    justify-content: center;
    background: #efefef;
}

.tarjeta img {
    width: 100%;
}

.tarjeta {
   width: 15%; 
   margin: 30px 30px 30px 30px;
   background: white;
   padding: 20px;
   text-align: center;
   box-shadow: 1px 1px 1px #00000030;
}
.tarjeta h2 {
    font-size: 25px;

}

.tarjeta p {
    font-size: 12px;
}

.pie-pagina {
    width: 100%;
    background-color: #280400;
    
}


/**************************************************************************************
***************** MAIN FROMULARIO **************************************************/

.contenedor-form {
    width: 400px;
    background-color: rgb(250, 246, 241);
    padding: 50px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
}

.contenedor-form p {
    font-size: 15px;
    margin-bottom: 20px;
    color: black;
    font-family: serif;
}

.contenedor-form h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: black;

}

.input {
    display: flex;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 10px;
    font-size: 20px;
}

/** ******************************************* FOOTER ******************************** */

.pie-pagina {
    width: 100%;
    background-color: #280400;
    
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 10px 0;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 150px;
    padding:auto;
}

.pie-pagina .grupo-1 .box h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #fff;
    margin-bottom: 15px;
    font-size: 15px;
}
.pie-pagina .grupo-2 {
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: white;
    font-size: 15px;
}
